html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}


p{
    font-size: 20px;
    text-align: justify;
}
.centrar{
    justify-content: center;
    align-content: center;
    text-align: center;
}

.contenedorAnimacion{
    position:relative;
    width: 100%;
    height: 100%;
}

.animacion{
    position:absolute;
    color: white;
    right: 0;
}

.contenedorCarrusel{
    position: absolute;
    width: 100%;
    filter: brightness(70%);
}
.contenedorCentrar{
    display: flex;
    justify-content: space-around;
}

.carousel{
    z-index: 1;
}

.carousel-inner {
    width: auto;
    height: 500px; /* Establece la altura deseada del contenedor */
}

.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    object-position: center;
}
.contenido{
    display: flex;
    flex-direction: column;
    margin-left: 8vw;
    margin-right: 8vw;
    margin-top: 10vh;
    gap: 10vh;
    text-align: center;
}

.contenidoR{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px 20px 20px;
    gap: 30px;
}

.margen{
    margin:20px 20px 20px 20px;
}

.info{
    background-color: #678fd8;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: inline-block;
    width: fit-content;
    align-self: center;
    padding: 0.5em 5em;
    margin: 3vh 0 5vh 0;
}
.contenedor-imagen-portada{
    width: 100%;
    height: 500px;
    position: relative;
}

.contenedor-imagen-portada img{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
}

.contenedor-imagen-portada .overlay-contenedor{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
}

.contenedor-imagen-portada .overlay-contenedor div{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.contenedor-imagen-portada .overlay-contenedor h1,.contenedor-imagen-portada .overlay-contenedor p{
    display: flex;
    justify-content: center;
}

.overlay-contenedor span{
    display: flex;
    justify-content: center;
    gap:50px
}

.boton{
    display: inline-block;
    justify-self: center;
    align-self: center;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
    background-color: #1a1a1ac2;
    color: #fdfdfd;
    cursor: pointer;
    text-decoration: none;
    font-size: 25px;
    padding: 12px 24px;
    border-radius: 8px;
}

.contenedorPrincipal{
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
    padding-left: 3vw;
    padding-right: 3vw;
    overflow: hidden;
}

.negritas{
    font-weight:500;
}
