html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
img{
    height: 500px;
    width: auto;
}

.contenedorCarrusel{
    width: 100%;
    height: auto;
}
.contenedorCentrar{
    display: flex;
    justify-content: space-around;
}
.carousel{
    z-index: 1;
}

.carousel-inner {
    width: auto;
    height: 500px; /* Establece la altura deseada del contenedor */
}

.carousel-inner img {
    width: 100%;
    height: 500px;
    object-fit: cover; /* Ajusta la imagen para cubrir todo el contenedor */
    object-position: center;
}
.contenido{
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    gap: 30px;
}

.contenidoR{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 20px 20px 20px;
    gap: 30px;
}

.margen{
    margin:20px 20px 20px 20px;
}

.info{
    background-color: #678fd8;
    color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: inline-block;
    width: fit-content;
    align-self: center;
    padding-left: 70px;
    padding-right: 70px;
    margin: 30px 0px 50px 0px;
}