* {
    margin:0;
    padding: 0;
}

main {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

main .mainPart {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

main .mainPart.manPartInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .mainPart.manPartInfo .infoContainer {
    padding: 0 60px;
}

main .mainPart.manPartInfo .infoContainer h1 {
    margin-bottom: 30px;
    font-family: 'Futura-Medium';
    color: #E0E0E0;
}

main .mainPart.manPartInfo .infoContainer p {
    border-left: 1px solid #E0E0E0;
    padding-left: 12px;
    font-weight: 400;
    font-size: clamp(18px, 2vw, 20px);
    /* max-width: 500px; */
    text-align: left;
    color: #E0E0E0;
}

main .mainPart .imgContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

main .mainPart .imgContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #121212;
    left: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

main .mainPart .imgContainer img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .mainPart .infoContainer {
    position: absolute;
    z-index: 2;
    color: #E0E0E0;
}

main .mainPart article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #f2f2f2;
}

main .mainPart article .imgContainerDPT {
    position: relative;
    width: 100%;
    align-items: 100%;
    border-left: 1px solid #f2f2f2;
}

main .mainPart article .imgContainerDPT::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #121212, #1212125c);
    left: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(5px);
}

main .mainPart article .imgContainerDPT img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .mainPart article h2 {
    position: absolute;
    z-index: 2;
    color: #121212;
    background-color: #f2f2f2;
    padding: 20px;
    font-weight: 400;
    border-radius: 10px;
    font-size: 21px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    cursor: pointer;
    transition: 0.3s;
}

main .mainPart article h2:hover {
    background-color: #121212;
    color: #E0E0E0;
}

main .mainPart article h2 svg {
    width: clamp(22px, 2vw, 22px);
    height: clamp(22px, 2vw, 22px);
    margin-left: 9px;
    margin-top: 1.5px;
    stroke: #121212;
    transition: 0.3s;
}

main .mainPart article h2:hover svg {
    stroke: #fdfdfd;
}

.mainPart.mainPartOpciones {
    max-height: 100%;
    overflow-y: auto;
    min-height: 612px;
}

.mainPart.mainPartOpciones::-webkit-scrollbar {
    display: none;
}

@media (max-width: 785px) {
    main {
        flex-direction: column;
    }

    main .mainPart article .imgContainerDPT {
        border: 0;
        border-top: 5px solid #fdfdfd;
       
    }

    main .mainPart article {
        border-bottom: 0;
    }

    .mainPart.mainPartOpciones {
        max-height: none;
    }

    main .mainPart.manPartInfo {
        max-height: 450px;
    }
}