* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    height: calc(100vh - 90px);
    min-height: 680px;
    margin-top: 90px;
    overflow: auto;
}

main .mainPart {
    display: flex;
    width: 50%;
    height: 100%;
    min-height: 680px;
}

main .mainPart.manPartInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

main .mainPart.manPartInfo .infoContainer {
    padding: 0 60px;
}

main .mainPart.manPartInfo .infoContainer h1 {
    font-family: 'Teko-Regular';
    font-size: 55px;
    color: #E0E0E0;
}

main .mainPart.manPartInfo .infoContainer p {
    font-family: 'Futura-Medium';
    font-size: clamp(18px, 2vw, 20px);
    letter-spacing: 1px;
    border-left: 2px solid #E0E0E02B;
    padding-left: 12px;
    /* max-width: 500px; */
    text-align: left;
    color: #E0E0E0;
}

main .mainPart .imgContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

main .mainPart .imgContainer::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #121212;
    left: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(2px);
}

main .mainPart .imgContainer img {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .mainPart .infoContainer {
    position: absolute;
    z-index: 2;
    color: #E0E0E0;
}

main .mainPart article {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-bottom: 1px solid #f2f2f2;
    flex: 1;
    min-width: 280px;
}

main .mainPart article .imgContainerDPT {
    position: relative;
    width: 100%;
    height: 100%;
    border-left: 1px solid #f2f2f2;
}

main .mainPart article .imgContainerDPT::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #121212, #1212125c);
    left: 0;
    top: 0;
    z-index: 1;
    backdrop-filter: blur(0px);
}

main .mainPart article .imgContainerDPT img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main .mainPart article h2 {
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    color: #E0E0E0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff2c;
    border-radius: 10px;
    margin: 0;
    padding: 20px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 2;
}

main .mainPart article h2:hover {
    background-color: #121212;
    color: #E0E0E0;
}

main .mainPart article h2 svg {
    stroke: #E0E0E0;
    width: clamp(22px, 2vw, 22px);
    height: clamp(22px, 2vw, 22px);
    margin-left: 9px;
    margin-top: 1.5px;
    transition: 0.3s;
}

main .mainPart article h2:hover svg {
    stroke: #fdfdfd;
}

.mainPart.mainPartOpciones {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-wrap: wrap;
    width: 100%;
    max-height: 100%;
    min-height: 600px;
    overflow-y: auto;
}

.mainPart.mainPartOpciones::-webkit-scrollbar {
    display: none;
}

@media (max-width: 1200px) {
    .mainPart.mainPartOpciones {
        width: 50%;
        flex-direction: row;
    }
}

@media (max-width: 895px) {
    main .mainPart.manPartInfo .infoContainer {
        padding: 0 20px;
    }
}

@media (max-width: 565px) {
    main {
        flex-direction: column;
    }

    main .mainPart.manPartInfo,
    .mainPart.mainPartOpciones {
        width: 100%;
    }

    main .mainPart.manPartInfo {
        min-height: 350px;
        background-color: #121212;
        border: 1px solid #E0E0E0;
        overflow-y: auto;
    }

    .mainPart.mainPartOpciones {
        min-height: calc(100% - 1px);
        border-right: 1px solid #E0E0E0;
    }

    main .mainPart .infoContainer {
        position: relative;
    }

    main .mainPart .imgContainer {
        display: none;
    }

    main .mainPart.manPartInfo .infoContainer p {
        text-align: justify;
        border: 0;
        padding: 0;
        margin-bottom: 0;
    }

    main .mainPart.manPartInfo .infoContainer h1 {
        text-align: center;
    }
}

@media (max-width: 365px) {
    main .mainPart.manPartInfo {
        align-items: flex-start;
    }

    main .mainPart.manPartInfo .infoContainer {
        padding: 20px;
    }
}