.seccion{
    margin-top: 10px;
    margin-right: 20px;
    margin-left: 20px;
    display: flex;
    align-content: center;
}
.espacio{
    margin-top: 30px;
}
.infoDoc{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.seccion img{
    height: 100px;
    width: auto;
}

.seccion .infoDoc span img{
    height: 50px;
    width: auto;
}
span{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

p{
    text-align: justify;
}