
body{
  margin:0;
  overflow-x: hidden;
}
main{
  background-color: #0a55a2;
}
.portada{
  position: relative;
  min-height:150vh;
  display: flex;
}


.contenedorImgLottie{
  z-index: 2;
  position:absolute;
  height: 100vh;
  width: 100vw;
}

.contenedorImgLottie img{
  height: 100%;
position:absolute;
object-fit: cover;
}
.contenedorImgLottie iframe{
  z-index: 2;
  position:absolute;
}
.cajita{
  
}

.scroll{
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  margin:0;
  padding:10px;
}

.scroll h1{
  font-size:30vh;
  flex-shrink: 0;
}

.rsPage {
  min-height: 80vh; /* Altura del contenedor principal */
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center; 
  flex-wrap: wrap; /* Permite que las tarjetas se envuelvan en una nueva línea */
  gap: 2vw; /* Espacio entre las tarjetas */
  margin: 30px 2vh 30px 2vh;
  }
  
  .rsPage article {
    border: 1px solid #f5aa5d;
    border-radius: 10%;
    color: black;
    filter:invert();
    aspect-ratio: 1/1;
    height: clamp(270px, 25vw, 360px);
    align-content: center;
    justify-content: center;
    text-align: center;
    transition: transform 0.6s ease;
  }

  .rsPage article a {
    color:inherit;
    text-decoration: none;
  }
  .rsPage article:hover{
    background-color: #0a55a2;
    transform: scale(1.1);
    filter: brightness(70%);
    cursor:pointer;
  }
  .rsPage article p{
    text-align: center;
  }

  .rsPage article img{
    height: 50%;
    width: 50%;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
