html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: fit-content;
}

:root {
    --font-size-main-title: clamp(40px, 2vw, 58px);
    --font-size-card-title: clamp(22px, 2vw, 24px);
    --font-size-card-text: clamp(16px, 2vw, 16px);
    --font-size-main-text: clamp(18px, 2vw, 20px);
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
}

main {
    width: 100%;
}

main header {
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fdfdfd;
    padding: 80px;
    width: 100%;
    max-height: 350px;
    z-index: 1;
}

main header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #000030, #2d2bb080);
    z-index: -1;
}

main header .headerText {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    z-index: 1;
}

main header .headerText h1 {
    font-family: 'Teko-Regular';
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 62px;
}

main header .headerText p {
    font-family: 'Futura-Medium';
    width: 410px;
    margin: 0;
}

main header .headerText h1,
main header .headerText p {
    text-align: right;
}

main header .headerText button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Futura-Medium';
    font-size: 16px;
    color: #fdfdfd;
    background-color: transparent;
    margin-top: 32px;
    padding: 12px 16px;
    outline: none;
    border: 2px solid #fdfdfd;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    z-index: 1;
}

main header .headerText button svg {
    width: 22px;
    height: 22px;
    margin-top: 2px;
    margin-left: 6px;
    stroke-width: 2px;
}

main header .headerText button:hover {
    background-color: #000030;
    border-color: #2b29a6;
    color: #e0e0e0;
}

main header .headerText button:hover svg {
    stroke: #e0e0e0;
}

.mainCardsContainer {
    width: fit-content;
    max-height: 1673px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 1460px;
    margin-left: -35px;
    padding: 10px;
    overflow-y: auto;
}

.contenidoDetalles .colores .color:nth-child(1) {
    border-color: rgba(0, 0, 0, 0.4);
}

.mainCardsContainer .mainCard {
    position: relative;
    width: 440px;
    margin-bottom: 380px;
    z-index: 10;
    cursor: pointer;
}

.mainCardsContainer .mainCard:last-child {
    margin-bottom: 365px;
}

.mainCard .imgContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.mainCard .imgContainer img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 5px;
    z-index: -1;
}

.mainCard .infoCard {
    position: relative;
    top: 0;
    background-color: #020132db;
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: 30px 40px;
    z-index: 9;
}

.mainCard .infoCard h1 {
    font-family: 'Teko-Regular';
    font-size: 42px;
    margin-bottom: 0;
}

.mainCard .infoCard p {
    font-family: 'Futura-Medium';
    font-size: 18px;
    text-align: left;
    margin: 0;
}

main #cardsContainer {
    width: calc(100% - 540px);
    position: absolute;
    right: 0;
    padding: 40px 20px;
}

main #cardsContainer .etiquetasContainer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

main #cardsContainer .etiquetasContainer::-webkit-scrollbar {
    display: none;
}

main #cardsContainer .etiquetasContainer .etiqueta {
    min-width: fit-content;
    font-size: var(--font-size-card-text);
    font-weight: var(--font-weight-regular);
    text-align: center;
    border: 1px solid #000030;
    border-radius: 0;
    margin: 0;
    padding: 10px 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
}

main #cardsContainer .etiquetasContainer .etiqueta:last-child {
    margin-right: 0;
}

main #cardsContainer .etiquetasContainer .etiqueta:first-child {
    background-color: #000030;
    color: #fdfdfd;
}

main #cardsContainer .etiquetasContainer .etiqueta:hover {
    background-color: #000030;
    color: #fdfdfd;
}

main #cardsContainer .cardsContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    max-height: 1280px;
    overflow-y: auto;
}

main #cardsContainer .cardsContent::-webkit-scrollbar,
.mainCardsContainer::-webkit-scrollbar,
.detallesProducto .galeriaContainer .activeImg::-webkit-scrollbar,
.detallesProducto .contenidoDetalles::-webkit-scrollbar {
    width: 4px;
    /* Ancho de la barra de desplazamiento */
}

main #cardsContainer .cardsContent::-webkit-scrollbar-thumb,
.mainCardsContainer::-webkit-scrollbar-thumb,
.detallesProducto .galeriaContainer .activeImg::-webkit-scrollbar-thumb,
.detallesProducto .contenidoDetalles::-webkit-scrollbar-scrollbar-thumb {
    background: rgba(128, 128, 128, 0.5);
    /* Color gris transparente */
    border-radius: 4px;
    /* Bordes redondeados */
}

main #cardsContainer .cardsContent::-webkit-scrollbar-thumb:hover,
.mainCardsContainer::-webkit-scrollbar-thumb:hover,
.detallesProducto .galeriaContainer .activeImg::-webkit-scrollbar-thumb:hover,
.detallesProducto .contenidoDetalles::-webkit-scrollbar-scrollbar-thumb:hover {
    background: rgba(128, 128, 128, 0.7);
    /* Color más oscuro al pasar el mouse */
}

main #cardsContainer .cardsContent::-webkit-scrollbar-track,
.mainCardsContainer::-webkit-scrollbar-track,
.detallesProducto .galeriaContainer .activeImg::-webkit-scrollbar-track,
.detallesProducto .contenidoDetalles::-webkit-scrollbar-track {
    background: #ffffff;
    /* Fondo blanco */
    border-radius: 4px;
    /* Bordes redondeados del track */
}

.mainCardsContainer {
    background-color: #fdfdfd;
    border: 2px solid #000;
    overflow-x: hidden;
}

.mainCardsContainer::-webkit-scrollbar {
    display: none;
}

main #cardsContainer .cardsContent .card {
    border: 0;
    /* max-width: 315px; */
    min-width: 315px;
    flex: 1;
    cursor: pointer;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px;
    border-radius: 0;
    transition: 0.3s;
}

main #cardsContainer .cardsContent .card:nth-child(4n),
main #cardsContainer .cardsContent .card:last-child {
    border-right: 2px solid #000;
}

main #cardsContainer .cardsContent .card:last-child {
    min-width: 317px;
}

main #cardsContainer .cardsContent .card .infoCard {
    padding: 10px;
}

main #cardsContainer .cardsContent .card .infoCard h1 {
    font-family: 'Teko-Regular';
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0;
}

main #cardsContainer .cardsContent .card .infoCard p {
    font-family: 'Futura-Medium';
    font-size: 16px;
    text-align: left;
    margin-bottom: 0;
}

main #cardsContainer .cardsContent .card .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

main #cardsContainer .cardsContent .card .imgContainer img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

main #cardsContainer .cardsContent .card::after {
    content: "Detalles";
    position: absolute;
    padding: 12px 16px;
    background-color: #000;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
}

main #cardsContainer .cardsContent .card:hover::after {
    color: #fdfdfd;
    opacity: 1;
    background-color: #000;
}

main #cardsContainer .cardsContent .card:hover {
    background-color: #0000000c;
}

.detallesProducto {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 750px;
    max-height: 100dvh;
    background-color: #fdfdfd;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    transform: translate(-200%, -50%);
    transition: 0.45s;
    transition-delay: 0.1s;
    min-width: 1148px;
}

.detallesProducto .galeriaContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.detallesProducto .galeriaContainer .activeImg {
    position: relative;
    width: 75%;
    height: 100%;
    overflow-y: auto;
}

.detallesProducto .galeriaContainer .activeImg {
    border-right: 5px solid #fdfdfd;
}

.detallesProducto .galeriaContainer .galeriaPart {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.detallesProducto .galeriaContainer .galeriaPart img {
    height: 33.53%;
    border-bottom: 5px solid #fdfdfd;
}

.detallesProducto .contenidoDetalles {
    font-family: "Futura-Medium";
    width: 45%;
    height: 100%;
    padding: 30px;
    overflow-y: auto;
}

.detallesProducto .contenidoDetalles .nombre {
    font-family: "Teko-Regular";
    font-size: 50px;
    margin-top: 2px;
    margin-bottom: 0;
}

.detallesProducto .contenidoDetalles .genero {
    margin-bottom: 0px;
    font-size: 18px;
}

.detallesProducto .contenidoDetalles .precio {
    margin-bottom: 28px;
    margin-top: 8px;
    font-size: 20px;
}

.detallesProducto .contenidoDetalles .frase {
    font-size: 20px;
    margin-bottom: 0 !important;
}

.detallesProducto .contenidoDetalles .desc {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.5;
    margin-bottom: 0 !important;
}

.contenidoDetalles .tallas,
.contenidoDetalles .medidas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 28px;
}

.tituloDetalles {
    font-family: 'Futura-Medium';
    font-size: 16px;
    width: 100%;
    border-top: 1px solid #00000030;
    margin-top: 28px;
    margin-bottom: 0;
    padding-top: 28px;
}

.contenidoDetalles .colores {
    margin-top: 28px !important;
}

.fraseContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
}

.fraseContainer .frase {
    font-size: 16px !important;
}

.logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoContainer img {
    height: 90px;
    margin-bottom: 6px;
    margin-left: 12px;    
    margin-bottom: 6px;
}

.fraseContainer svg {
    width: 22px;
    height: 22px;
    margin-right: 5px;
}

.contenidoDetalles .tallas .talla,
.contenidoDetalles .medidas .medida {
    font-family: 'Futura-Medium';
    font-size: 14px;
    border: 2px solid #2d2d2d;
    margin-bottom: 15px;
    padding: 12px;
    padding-bottom: 10px;
}

.contenidoDetalles .tallas .talla:not(:last-child),
.contenidoDetalles .medidas .medida:not(:last-child) {
    margin-right: 15px;
}

.contenidoDetalles .colores {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contenidoDetalles .colores .color {
    width: 30px;
    height: 30px;
    border: 2px solid #cfcfcf;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoDetalles .colores .color:not(:last-child) {
    margin-right: 8px;
}

.contenidoDetalles .colores .color .circulo {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #000;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    backdrop-filter: blur(5px);
    z-index: 8;    
}

.btnCerrarModal {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 30px;
    right: 20px;
    cursor: pointer;
}

.btnCerrarModal svg {
    transition: 0.3s;
}

.btnCerrarModal:hover svg {
    stroke: #2b29a6;
}

main #cardsContainer .cardsContent {
    border-top: 2px solid #000 !important;
}

.cardBorderRight {
    border-left: 0 !important;
    border-right: 2px solid #000 !important;
}

.detallesProducto .galeriaContainer .activeImg .scrollPartGaleria {   
    width: 25%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
}

.detallesProducto .galeriaContainer .activeImg .scrollPartGaleria img {
    height: 34%;
}

.detallesProducto .galeriaContainer .activeImg .scrollPartGaleria img:not(:last-child) {
    margin-bottom: 5px;
}

.contenidoDetalles .colores .color {
    cursor: pointer;
    transition: 0.3s;
}

.contenidoDetalles .colores .color:hover {
    border-color: #00000070;
}

.detallesProducto .galeriaContainer .activeImg {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.detallesProducto .galeriaContainer .activeImg .mainImgGaleria {
    position: relative;
    width: 75%;
    height: 100%;
    margin-right: 5px;
}

.detallesProducto .galeriaContainer .activeImg .mainImgGaleria img {
    position: absolute;
    width: 100%;
    height: 100%;
}

@media (max-width: 1840px) {
    main #cardsContainer .cardsContent .card {
        max-width: none;
    }

    main #cardsContainer .cardsContent .card:nth-child(3n) {
        border-right: 2px solid #000 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(4n) {
        border-right: 0;
    }
}

@media (max-width: 1524px) {
    main #cardsContainer .cardsContent .card:nth-child(3n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 2px solid #000 !important;
    }

    .cardBorderRight,
    main #cardsContainer .cardsContent .cardBorderRight:nth-child(3n) {
        border-left: 0 !important;
        border-right: 2px solid #000 !important;
    }
}

@media (max-width: 1209px) {
    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(1n) {
        border-right: 2px solid #000 !important;
    }
}

@media (max-width: 1148px) {
    .detallesProducto {
        width: 100%;
        min-width: 100%;
    }
}

@media (max-width: 1007px) {
    .headerText {
        width: 100%;
    }

    .mainCardsContainer {
        margin-top: 980px;
        width: 100%;
        flex-direction: row;
        position: absolute;
        left: 0;
        margin-left: 0;
        padding: 0 10px;
        flex-wrap: nowrap;
        height: auto;
        overflow-x: scroll;
        height: 525px;
        border: 0;
        padding: 0;
    }

    .mainCardsContainer .mainCard {
        margin: 0 10px;
        flex: 1;
        min-width: 380px;
    }

    main #cardsContainer {
        width: 100%;
        height: auto;
        margin-top: 550px;
        padding-right: 0;
    }

    .cardsContent {
        width: 100%;
        max-width: 100%;
        max-height: none !important;
    }

    main #cardsContainer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    main #cardsContainer .cardsContent .card:nth-child(1n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(3n),
    main #cardsContainer .cardsContent .card:last-child {
        border-right: 2px solid #000 !important;
    }

    .etiquetasContainer {
        padding-left: 12px;
    }

    .etiquetasContainer .etiqueta {
        margin-bottom: 0 !important;
        padding: 10px 30px !important;
        min-width: fit-content;
    }

    .etiquetasContainer .etiqueta:last-child {
        margin-right: 12px !important;
    }

    .cardBorderRight,
    main #cardsContainer .cardsContent .cardBorderRight:nth-child(1n) {
        border-left: 0 !important;
        border-right: 2px solid #000 !important;
    }

    .mainCard .infoCard p {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@media (max-width: 944px) {
    main #cardsContainer .cardsContent .card:nth-child(3n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 2px solid #000 !important;
    }

    .cardBorderRight,
    main #cardsContainer .cardsContent .cardBorderRight:nth-child(3n) {
        border-left: 0 !important;
        border-right: 2px solid #000 !important;
    }
}

@media (max-width: 895px) {
    .detallesProducto .galeriaContainer {
        width: 50%;
    }    

    .detallesProducto .contenidoDetalles {
        width: 50%;
        padding: 30px 20px;
    }

    .detallesProducto .galeriaContainer .activeImg {
        flex-direction: column;
    }

    .detallesProducto .galeriaContainer .activeImg .mainImgGaleria {
        height: 100%;
        width: 100%;
        min-height: 100%;
        margin-right: 0;
    }

    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria,
    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria img {
        min-height: 100%;
        width: 100%;
    }

    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria {
        overflow-y: auto;
    }
}

@media (max-width: 629px) {
    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(1n) {
        border-right: 2px solid #000 !important;
    }
}

.galeriaContainer.parteAbajo {
    display: none;
}

@media (max-width: 595px) {
    .overlay {
        display: none;
    }

    .detallesProducto {
        height: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;        
        overflow: auto;
    }

    .detallesProducto .contenidoDetalles {
        width: 100%;
        padding-bottom: 20px;
        overflow-y: visible;
    }

    .detallesProducto .galeriaContainer {
        width: 100%;
        min-height: 100%;
        min-height: 870px;
    }

    .btnCerrarModal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 42px;
        height: 42px;
        padding: 10px;
        top: 5px;
        right: 5px;
        z-index: 10;
        background-color: #fdfdfd;
    }

    .detallesProducto .galeriaContainer .activeImg {
        border-right: 0;
    }

    .detallesProducto .galeriaContainer .activeImg,
    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria {
        flex-direction: row;
    }

    .detallesProducto .galeriaContainer .activeImg .mainImgGaleria,
    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria,
    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria img {
        min-width: 100%;
    }

    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria img:not(:last-child) {
        margin-bottom: 0;
    }

    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria {
        overflow-x: auto;
    }

    .detallesProducto .galeriaContainer .activeImg::-webkit-scrollbar,
    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria::-webkit-scrollbar {
        height: 4px;
    }

    .detallesProducto .galeriaContainer .activeImg::-webkit-scrollbar-thumb,
    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria::-webkit-scrollbar-thumb {
        background-color: #d3d3d3;
        border-radius: 10px;
    }

    .detallesProducto .galeriaContainer .activeImg::-webkit-scrollbar-track,
    .detallesProducto .galeriaContainer .activeImg .scrollPartGaleria::-webkit-scrollbar-track  {
        background-color: transparent;
    }

    .contenidoDetalles .infoPrincipal {
        position: absolute;
        top: 710px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: calc(100% - 10px);
        left: 5px;
        padding: 20px;
        background-color: #020132db;
        color: #fdfdfd;
    }

    #btnDetalles {
        display: flex !important;
        position: absolute;
        top: 0;
        left: 0px;
        display: flex;
        background-color: #fdfdfd;
        border: 2px solid #fdfdfd;
        font-size: 16px;
        width: fit-content;
        height: fit-content;
        color: #212529;
        padding: 10px 14px;
        padding-bottom: 9px;
        transition: 0.3s;
    }

    #btnDetalles svg {
        width: 20px;
        height: 20px;
        stroke: #212529;
        stroke-width: 2px;
        margin-left: 5px;
        margin-top: 2px;
    }

    #btnDetalles:hover {
        color: #2b29a6;
    }

    #btnDetalles:hover svg {
        stroke: #2b29a6;
    }

    .detallesProducto .contenidoDetalles .precio {
        margin-bottom: 0;
    }
}

@media (max-width: 560px) {
    main header .headerText p {
        width: 100%;
    }
}

@media (max-width: 501px) {
    main #cardsContainer .etiquetasContainer {
        display: flex;
        overflow-x: auto;
    }
}

@media (max-width: 425px) {
    .contenidoDetalles .infoPrincipal {
        top: 82%;
    }

    .detallesProducto .contenidoDetalles .nombre {
        font-size: 40px;
    }

    .detallesProducto .contenidoDetalles .precio,
    .detallesProducto .contenidoDetalles .genero {
        font-size: 16px;
    }

    .contenidoDetalles .infoPrincipal button {
        font-size: 15px;
        padding-bottom: 7px;
    }

    .contenidoDetalles .infoPrincipal button svg {
        height: 18px;
        width: 18px;
    }
}