html,
body {
    margin: 0;
    border: 0;
    padding: 0;
    scroll-behavior: smooth;
    height: fit-content;
}

:root {
    --font-size-main-title: clamp(40px, 2vw, 58px);
    --font-size-card-title: clamp(22px, 2vw, 24px);
    --font-size-card-text: clamp(16px, 2vw, 16px);
    --font-size-main-text: clamp(18px, 2vw, 20px);
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
}

main {
    width: 100%;
}

main header {
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    color: #fdfdfd;
    padding: 80px;
    width: 100%;
    max-height: 350px;
    z-index: -1;
}

main header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, #000030, #2d2bb080);
    z-index: -1;
}

main header .headerText {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

main header .headerText h1 {
    font-size: var(--font-size-main-title);
}

main header .headerText p {
    font-size: var(--font-size-main-text);
    font-weight: var(--font-weight-medium);
    width: 410px;
    margin-top: 10px;
}

main header .headerText h1,
main header .headerText p {
    text-align: right;
}

main header .headerText button {
    outline: none;
    border: 0;
    background-color: #fdfdfd;
    padding: 14px 20px;
    min-width: 200px;
    font-size: 18px;
    font-weight: var(--font-weight-medium);
    border-radius: 100px;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
}

main header .headerText button:hover {
    min-width: 210px;
}

.mainCardsContainer {
    margin-top: 1460px;
    max-height: 1765px;
    overflow-y: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: -35px;
}

.mainCardsContainer .mainCard {
    position: relative;
    margin-bottom: 405px;
    width: 450px;
    z-index: 10;
}

.mainCardsContainer .mainCard:last-child {
    margin-bottom: 0;
}

.mainCard .imgContainer {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
}

.mainCard .imgContainer img {
    position: absolute;
    width: 100%;
    height: 500px;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    border-radius: 12px;
}

.mainCard .infoCard {
    z-index: 9;
    padding: 30px 40px;
    background-color: #020132;
    position: relative;
    top: 0;
    border-radius: 12px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.mainCard .infoCard h1 {
    font-size: var(--font-size-card-title);
}

.mainCard .infoCard p {
    margin: 0;
    font-size: var(--font-size-card-text);
    margin-top: 12px;
    line-height: 1.3;
    text-align: left;
}

main #cardsContainer {
    width: calc(100% - 540px);
    position: absolute;
    right: 0;
    padding: 40px 20px;
}

main #cardsContainer .etiquetasContainer {
    width: 100%;
}

main #cardsContainer .etiquetasContainer .etiqueta {
    padding: 10px 50px;
    font-size: var(--font-size-card-text);
    border: 1px solid #000030;
    border-radius: 0px;
    margin: 0;
    text-align: center;
    font-weight: var(--font-weight-regular);
    margin-right: 10px;
    cursor: pointer;
    transition: 0.3s;
    margin-bottom: 15px;
}

main #cardsContainer .etiquetasContainer .etiqueta:first-child {
    background-color: #000030;
    color: #fdfdfd;
}

main #cardsContainer .etiquetasContainer .etiqueta:hover {
    background-color: #000030;
    color: #fdfdfd;
}

main #cardsContainer .cardsContent {
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    max-height: 1280px;
    overflow-y: auto;
}

main #cardsContainer .cardsContent .card {
    border: 0;
    max-width: 315px;
    min-width: 315px;
    flex: 1;
    cursor: pointer;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: 10px;
    border-radius: 0;
    transition: 0.3s;
}

main #cardsContainer .cardsContent .card:nth-child(4n),
main #cardsContainer .cardsContent .card:last-child {
    border-right: 2px solid #000;
}

main #cardsContainer .cardsContent .card:last-child {
    min-width: 317px;
}

main #cardsContainer .cardsContent .card .infoCard {
    padding: 10px;
}

main #cardsContainer .cardsContent .card .infoCard h1 {
    font-family: 'Teko-Regular';
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 0;
}

main #cardsContainer .cardsContent .card .infoCard p {
    font-family: 'Futura-Medium';
    font-size: 16px;
    text-align: left;
    margin-bottom: 0;
}

main #cardsContainer .cardsContent .card .imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

main #cardsContainer .cardsContent .card .imgContainer img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
    border-radius: 5px;
}

main #cardsContainer .cardsContent .card::after {
    content: "Detalles";
    position: absolute;
    padding: 12px 16px;
    background-color: #000;
    border-top-left-radius: 2px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
}

main #cardsContainer .cardsContent .card:hover::after {
    color: #e0e0e0;
    opacity: 1;
    background-color: #000;
}

main #cardsContainer .cardsContent .card:hover {
    background-color: #0000000c;    
}

.detallesProducto {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 750px;
    background-color: #fdfdfd;
    z-index: 12;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 5px;
    transform: translate(-200%, -50%);
    transition: 0.45s;
    min-width: 1148px;
}

.detallesProducto .galeriaContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
}

.detallesProducto .galeriaContainer .activeImg {
    width: 75%;
    height: 100%;
}

.detallesProducto .galeriaContainer .activeImg {
    border-right: 5px solid #fdfdfd;
}

.detallesProducto .galeriaContainer .galeriaPart {
    width: 25%;
    display: flex;
    flex-direction: column;
}

.detallesProducto .galeriaContainer .galeriaPart img {
    height: 33.53%;
    border-bottom: 5px solid #fdfdfd;
}

.detallesProducto .contenidoDetalles {
    width: 45%;
    padding: 30px;
    font-family: "Futura-Medium";
}

.detallesProducto .contenidoDetalles .nombre {
    font-family: "Teko-Regular";
    font-size: 50px;
    margin-bottom: 0;
}

.detallesProducto .contenidoDetalles .genero {
    margin-bottom: 0px;
}

.detallesProducto .contenidoDetalles .precio {
    margin-bottom: 20px;
    margin-top: 2px;
    font-size: 20px;
}

.detallesProducto .contenidoDetalles .frase {
    font-size: 18px;
}

.detallesProducto .contenidoDetalles .desc {
    font-size: 20px;
    margin-top: 20px;
}

.contenidoDetalles .tallas,
.contenidoDetalles .medidas {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contenidoDetalles .tallas .talla,
.contenidoDetalles .medidas .medida {
    font-family: 'Futura-Medium';
    font-size: 16px;
    border: 2px solid #2d2d2d;
    padding: 12px;
    margin-bottom: 15px;
}

.contenidoDetalles .tallas .talla:not(:last-child),
.contenidoDetalles .medidas .medida:not(:last-child) {
    margin-right: 15px;
}

.contenidoDetalles .colores {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.contenidoDetalles .colores .color {
    width: 30px;
    height: 30px;
    border: 2px solid #cfcfcf;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenidoDetalles .colores .color:not(:last-child) {
    margin-right: 8px;
}

.contenidoDetalles .colores .color .circulo {
    width: 20px;
    height: 20px;
    border-radius: 100px;
    background-color: #000;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000000ad;
    backdrop-filter: blur(5px);
    z-index: 8;
}

.btnCerrarModal {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

.btnCerrarModal svg {
    transition: 0.3s;
}

.btnCerrarModal:hover svg {
    stroke: #2b29a6;
}

main #cardsContainer .cardsContent .card:nth-child(1),
main #cardsContainer .cardsContent .card:nth-child(2),
main #cardsContainer .cardsContent .card:nth-child(3),
main #cardsContainer .cardsContent .card:nth-child(4) {
    border-top: 2px solid #000 !important;
}

@media (max-width: 1840px) {
    main #cardsContainer .cardsContent .card {
        max-width: none;
    }
}

@media (max-width: 1840px) {
    main #cardsContainer .cardsContent .card:nth-child(3n) {
        border-right: 2px solid #000 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(4n) {
        border-right: 0;
    }
}

@media (max-width: 1524px) {
    main #cardsContainer .cardsContent .card:nth-child(3n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 2px solid #000 !important;
    }
}

@media (max-width: 1209px) {
    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(1n) {
        border-right: 2px solid #000 !important;
    }
}

@media (max-width: 1007px) {
    .headerText {
        width: 100%;
    }

    .mainCardsContainer {
        margin-top: 980px;
        width: 100%;
        flex-direction: row;
        position: absolute;
        left: 0;
        margin-left: 0;
        padding: 0 10px;
        flex-wrap: nowrap;
        height: auto;
        overflow-x: scroll;
        height: 525px;
    }

    .mainCardsContainer .mainCard {
        margin: 0 10px;
        flex: 1;
        min-width: 380px;
    }

    main #cardsContainer {
        width: 100%;
        height: auto;
        margin-top: 550px;
        padding-right: 0;
    }

    .cardsContent {
        width: 100%;
        max-width: 100%;
        max-height: none !important;
    }

    main #cardsContainer {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
    }

    main #cardsContainer .cardsContent .card:nth-child(1n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(3n),
    main #cardsContainer .cardsContent .card:last-child {
        border-right: 2px solid #000 !important;
    }

    .etiquetasContainer {
        padding-left: 12px;
    }

    .etiquetasContainer .etiqueta {
        margin-bottom: 0 !important;
        padding: 10px 30px !important;
        min-width: fit-content;
    }

    .etiquetasContainer .etiqueta:last-child {
        margin-right: 12px !important;
    }
}

@media (max-width: 944px) {
    main #cardsContainer .cardsContent .card:nth-child(3n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 2px solid #000 !important;
    }
}

@media (max-width: 629px) {
    main #cardsContainer .cardsContent .card:nth-child(2n) {
        border-right: 0 !important;
    }

    main #cardsContainer .cardsContent .card:nth-child(1n) {
        border-right: 2px solid #000 !important;
    }
}

@media (max-width: 560px) {
    main header .headerText p {
        width: 100%;
    }
}

@media (max-width: 501px) {
    main #cardsContainer .etiquetasContainer {
        display: flex;
        overflow-x: auto;
    }
}