@font-face {
  font-family: 'Futura-Regular';
  src: url('../assets/fonts/Futura\ Regular.ttf') format('opentype');
}

@font-face {
  font-family: 'Futura-Medium';
  src: url('../assets/fonts/Futura\ Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Futura-Bold';
  src: url('../assets/fonts/Futura\ Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Teko-Regular';
  src: url('../assets/fonts/Teko-Regular.ttf') format('opentype');
}

header:not(.headerGatienda),
.navbar-content {
  max-height: 100px !important;
  min-height: 90px !important;
  height: 80px !important;
}

header nav a:hover {
  filter: brightness(70%);
}

header nav .link {
  color: white;
  text-decoration: none;
  padding: 0px 5px !important;
  padding-bottom: 2px !important;
  position: relative;
  font-size: clamp(16px, 2vw, 16px) !important;
  margin: 0 15px !important;
  transition: 0.3s !important;
}

header nav .link::after,
.drawer a:hover::after,
header nav .link::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 1px;
  background-color: #5b5b5b;
  border-radius: 1px;
  transition: 0.3s;
}

header nav .link:hover::after {
  width: 100%;
  height: 1px;
}

header {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar-content {
  background-color: #1a1a1a;
  display: flex !important;
  align-items: center;
  justify-content: space-between !important;
  /* Espacio entre los enlaces */
  padding-top: 1vw !important;
  padding-bottom: 1vw !important;
  border-bottom: 1px solid #5b5b5b !important;
}

.redesHeader {
  filter: invert(75%);
  align-self: center;
  height: auto;
  padding: 0 5px;
  width: 3vw;
  object-fit: cover;
}

.navbar-menu {
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.logo {
  align-self: center;
  height: auto;
  width: 4vw;
  max-width: 75%;
  object-fit: cover;
  min-width: 46px;
  transition: 0.3s;
}

.navbar-menu.hideMenu.menu-logos-principal a {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

/* Estilos para el drawer */
.drawer {
  position: fixed;
  top: 0;
  left: -100%;
  /* Fuera de la vista inicialmente */
  min-width: 150px;
  height: 100%;
  background-color: white;
  padding: 20px;
  transition: right 0.3s ease;
  z-index: 1000;
  transition: 0.5s;
  color: black;
}

.drawer div{
  display: flex;
  text-align: center;
  justify-content: center;
}

.drawer div img{
  width: clamp(150px, 20vw, 300px);
  object-fit: scale-down;
}

.drawer .link {
  color: black;
  font-size: 2vh;
}

.drawer.open {
  left: 0;
  /* Drawer visible */
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 500;
}

.backdrop.show {
  display: block;
}

.close-btn,
.open-btn {
  border: none;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  padding-left: 15px;
}

.open-btn {
  display: none;
  gap: 10px;
}

.close-btn {
  padding: 10px;
  position: absolute;
  right: 10px;
  color: black;

}

.close-btn:hover {
  background-color: #dbdbdb;
}

.drawer a,
.drawer .link {
  color: #333;
  text-decoration: none;
  padding: 10px;
  position: relative;
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.drawer a,
#drawer .link {
  margin: 15px 0 !important;
  padding: 0 !important;
  max-width: fit-content;
  margin-bottom: 25px !important;
}

.drawer a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 100%;
  width: 0;
  height: 2px;
  background-color: #444;
  border-radius: 1px;
  transition: 0.3s;
}

.drawer a:hover::after {
  width: 100%;
}

.titulo-drawer {
  align-self: center;
  font-size: clamp(22px, 4vw 26px);
  font-weight: 500;
  padding: 0;
  margin: 0;
}

.drawer.open .titulo-drawer {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.drawer.open #closeButton {
  transition: 0.3s;
  width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.navbar-menu.hideMenu.redesSociales {
  display: flex;
  justify-content: center;
  align-items: center;
}


.navbar-content .navbar-menu.hideMenu:nth-child(4) a,
.navbar-menu.hideMenu.redesSociales a {
  width: 32px;
  height: 32px;
  max-width: 32px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}

.navbar-menu.hideMenu.redesSociales a .redesHeader,
.redesHeader {
  position: absolute;
  width: 24px;
  max-height: 24px;
  min-height: 24px !important;
  max-width: 24px !important;
  min-width: 24px !important;
  aspect-ratio: 3/2 !important;
  object-fit: contain !important;
  padding: 0 !important;
  transition: 0.3s !important;
  object-position: center;
}

.drawer {
  background-color: #121212;
}

.drawer a, #drawer .link {
  color: #e0e0e0;
  font-family: "Futura-Medium";
}

#drawer .link {
  margin: 0 !important;
  margin-bottom: 40px !important;
}

#drawer {
  width: 75%;
  max-width: 300px;
  box-shadow: 0 0 12px 0px #121212;
}

.titulo-drawer,
.drawer.open #closeButton {
  color: #e0e0e0;
}

.drawer.open #closeButton {
  border-radius: 4px;
}

.drawer.open #closeButton:hover {
  color: #121212;
  background-color: #e0e0e0;
  border-radius: 4px;
}

.logoMainContainer {
  position: relative;
  width: 100%;
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 45px;
}

.logoMainContainer img {
  position: absolute;
  width: 100% !important;
  max-width: 800px !important;
  height: 100%;
  margin-right: 12px;
}

.separador #openButton .titulo-drawer {
  margin-top: 5px;
}

#drawer {
  overflow-y: auto;
}

@media (max-width: 1198px) {
  .open-btn {
    display: flex
  }

  .navbar-menu.hideMenu.menu-principal-header,
  .navbar-menu.hideMenu.menu-logos-principal,
  .navbar-menu.hideMenu.margenHeaderIz {
    display: none;
  }
}

@media (max-width: 965px) {
  .navbar-content {
    justify-content: space-between;
  }

  .logo {
    width: 10vw;
  }
}

@media (max-width: 875px) {
  .navbar-menu.hideMenu.menuDPT {
    display: none;
  }
}