.fila{
    flex-direction: row;
    flex-wrap: wrap;
}
.fila p{
    min-width: 200px;
    flex: 1;
    padding-left: 4vw;
    padding-right: 4vw;
}

.contenedor-imgINDET{
    position:relative;
    height: 80vh;
    width: 80vh;
}

.imgINDET {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 80%;
    width: 80%;
    object-fit: cover;
    object-position: center;
    background-color: black;
}


.imgINDET:hover{
    filter: brightness(50%);
}


.redes{
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    gap: 3vw;
    right: 0;
    bottom: 5%;
    height: 15%;
    max-width: 100%;
    background-color: black;
    border-radius: 20px;
    align-content: center;
    justify-content: center;
    display: flex;
}

.icono{
    align-self: center;
    height: 65%;
    width: 65%;
}

.icono:hover{
    filter: brightness(50%);
}